{% extends 'home.html' %}
{% load static%}
{% block content %}

<div class="p-4 d-flex justify-content-between" style="background-color: #d4d6d5;">
    <div class="row w-50">
        <div class="col-md-4">
            <label for="selectMachine" class="form-label fw-bold">Select Machine:</label>
            <select class="form-select" id="selectMachine">
                <option value="" selected>All</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="selectDepartment" class="form-label fw-bold">Select Department:</label>
            <select class="form-select" id="selectDepartment">
                <option value="" selected>All</option>
            </select>
        </div>
        
    </div>
    
    <div class="row align-items-center">
        <div class="col-md-4"> <!-- Adjusted column width -->
            <label for="fromDate" class="form-label fw-bold">From Date:</label>
            <input type="date" class="form-control" id="fromDate">
        </div>
        <div class="col-md-4"> <!-- Adjusted column width -->
            <label for="toDate" class="form-label fw-bold">To Date:</label>
            <input type="date" class="form-control" id="toDate">
        </div>
        <div class="col-md-4"> <!-- Adjusted column width -->
            <button type="button" class="btn mt-4 text-light" style="background-color: #ec522d;">Download
                Report</button> <!-- Added margin top -->
        </div>
    </div>
    
</div>
<div class="filter-btn text-center">
    <button type="button" class="btn mt-4 text-light" style="background-color: #ec522d;"
        id="filterButton">Filter Data</button>

</div>
<script>
    fetch(`${baseUrl}/machine/`)
        .then(response => response.json())
        .then(data => {
            const selectMachine = document.getElementById('selectMachine');
            data.forEach(machine => {
                const option = document.createElement('option');
                option.value = machine.id;
                option.textContent = machine.name;
                selectMachine.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching machine list:', error));

    // Fetch department list
    fetch(`${baseUrl}/department/`)
        .then(response => response.json())
        .then(data => {
            const selectDepartment = document.getElementById('selectDepartment');
            data.forEach(department => {
                const option = document.createElement('option');
                option.value = department.id;
                option.textContent = department.name;
                selectDepartment.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching department list:', error));
</script>

{% endblock %}